{% extends '__base.html' %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <div class="widget ">
                <div class="widget-header">
                    <i class="icon-key"></i>
                    <h3>{% trans "Change Password" %}</h3>
                </div>
                <div class="widget-content">
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
