{% extends '__base.html' %}
{% block title %}Pushetta{% endblock %}
{% block bootstrap3_extra_head %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}site/css/pages/faq.css" rel="stylesheet">
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
{% endblock %}

{% block content %}


<div class="row">
		
		<div class="span12">
			
			<div class="error-container">
				<h1>404</h1>
				
				<h2>ARRGGG!! Something goes wrong.</h2>
				
				<div class="error-details">
					Every time someone get this page a developer cry, try to go to the <a href="{% url 'pushetta-index' %}">home page</a> to stop this :-)
					
				</div> <!-- /error-details -->
				
				{% if user.is_authenticated %}
				<div class="error-actions">
					<a href="{% url 'pushetta-index' %}" class="btn btn-large btn-primary">
						<i class="icon-chevron-left"></i>
						&nbsp;
						Back to Dashboard						
					</a>
				</div> <!-- /error-actions -->
				{% endif %}
							
			</div> <!-- /error-container -->			
			
		</div> <!-- /span12 -->
		
	</div>            
{% endblock %}


{% block bootstrap3_extra_script %}

{% endblock %}

